html,
body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333;
    max-height: 400px;
    min-width: 688px;
    overflow: scroll;
}

h1 {
    text-align: center;
    margin: .2em 0;
}


#extractButton,
#resetButton,
#copyButton {
    color: whitesmoke;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 15px;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    margin-left: 10px;
}

#extractButton:hover,
#resetButton:hover,
#copyButton:hover {
    /* background-color: rgba(255, 255, 255, 0.5); */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1),
        -2px -2px 5px rgba(255, 255, 255, 0.5),
        2px 2px 5px rgba(0, 0, 0, 0.05);
}

#extractButton {
    background-color: #4CAF50;
}

#resetButton {
    background-color: rgba(255, 0, 0, 0.3);
}

#copyButton {
    background-color: #4CAF50;
}

#infoTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#infoTable th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 0.5em 1em;
    border: 1px solid #ddd;
}

#infoTable td {
    border: 1px solid #ddd;
    padding: 0.5em 1em;
}

#infoTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.inputField {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 4px;
    border: none;
    background: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333;
}
